extends layout 
 
block content 
  h1= title 
 
  form(id='RestuarantForm', action="/resource/restuarant", method="POST") 
    div.form-group 
        label.restuarantAttr(for='RestuarantRating') Restuarant Rating 
        input#restuarantRating(type='text', name='restuarantRating') 
    div.form-group 
        label.restuarantAttr(for='restuarantSize') Restuarant size 
        input#restuarantSize(type='text', name='restuarantSize') 
    div.form-group 
        label.restuarantAttr(for='restuarantLocation') Restuarant Location 
        input#restuarantLocation(type='text', name='restuarantLocation') 
    input(type="submit") 
 
  script. 
    document.forms['RestuarantForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 